body{background-color:rgb(246, 227, 134);
	/* background: url(./image/furniture_bg.jpg); */
margin:0px; padding:0px;}

@font-face{
	font-family:myFirstFont;
	src:url(css/times.ttf);
}

@font-face{
	font-family:times;
	src:url(css/geogiaz.ttf);
}

.x{
  font-style: italic;
  font-family:times;
}
.explainBox{
	font-size:14px;
	display:none;
	background-color:#CCC}

.mk{position:absolute;}
.abase{display:none;}
.u1{display:inline-block;
font-size:46px;
padding-top:7px;
float:left;}
.bar{background-color:#039;
color:#FFF;
text-align:center;
font-weight:bold;
	font-size: 20px;
}
.bar2{
	background-color:#09F;
	color:#000;
	padding: 3px;
}

.signs{
padding-left:8px;
padding-right:8px;font-size:28px;}

.sq{margin: -4px -3px -4px 0px;}

.un{border-bottom:medium solid;
border-bottom-color:#000;}

/***Check and CheckBAR***/
.checkBAR{
background-color:#EEEEFF;
text-align:right;}
.check{
background-color:#8dcdf7;
display:inline-block;
padding:7px;
border-radius:5px;
cursor:pointer;}

/***Answerbar, ansBar and ans***/

.ansbase{
	background-color:#06F;
	display:inline-block;
margin:auto;
text-align:center;
padding-left:10px;
}

.cbase{background-color:rgb(187, 8, 178);
	background: url(./image/furniture_bg.jpg);}
/*additional fraction*/
.nfrac{min-height:50px;
padding-top:19px;
font-style:italic;}
.nfra{
font-style:italic;
display:inline-block;}


.sign{font-size:36px;
color:#F0C;}

.signMargin{
	margin:0px -10px -7px -16px;
color:#F0C;}

.spaceUp{
	padding-top:10px;}
.spaceUpSmall{
	padding-top:3px;
}
.spaceLR{margin:0px 12px;}
.spaceL{margin-left:9px;}
	
.NoUp{
    margin-top: -8px;}

.Nole{
    margin-left: -8px;}

.tablefunny{border-left:solid 3px #000;
border-right:solid 3px #000;}

.tf2{border-left:solid 1px #000;}
.tablefunny td{
	padding-left:7px;
	padding-right:7px;}